.card_table {
    width: fit-content;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-style: groove;
    border-radius: 10px;

}

.tag {
    padding: 8px;
    text-align: right;
    width: fit-content;
}

.title_info {
    width: 200px;
}