*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}

header {
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-top: 5px;
}