
.searchform {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.searchBox {
    width: 60%;
    height: 40px;
    border-style: none;
    border-bottom-style: groove;
}

.searchBox:focus {
    outline: none;
}

.submit {
    border-radius: 1px;
    border-color: #333;
    background-color: white;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
    height: 40px;
    width: 70px;
}

.submit:hover {
    background-color: #333;
    color: white;
}

.catalogLetters {
    background-color: white;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    margin-left: 500px;
    display: inline-block;

}

.memberLetters{

    background-color: white;

    padding-left: 0px;
    padding-right: 60px;
    border-radius: 8px;
    margin-left: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    display: inline-block;

}

.bookcard_container {
    display: flex;

}
